.MainBody {
  width: 100%;
  /* height: auto; */
  /* display: flex; */
  flex-direction: column;
}
.Header {
  width: 100%;
  height: 20vh;
  background-color: red;
}
.Blog {
  width: 100%;
  height: 35vh;
  background-color: #f7eeff;
  display: flex;
  flex-direction: column;
}
.BlogText {
  width: 100%;
  height: 50%;
  background-color: #f7eeff;
  display: flex;
  flex-direction: column;
}
.BlogEmpty {
  width: 100%;
  height: 50%;
  background-color: #f7eeff;
}
.blog {
  width: 100%;
  height: 50%;
  background-color: #f7eeff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  color: #a075ce;
  font-size: 70%;
}
.news {
  width: 100%;
  height: 50%;
  background-color: #f7eeff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  font-size: x-large;
  font-weight: 600;
  color: black;
}
.CardBody {
  width: 100%;
  height: 200vh;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10%;
}
.card {
  width: 25%;
  height: 50%;
  background-color: #a075ce;
  border-radius: 17px;
  /* padding: 15px; */
  padding-top: 25px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-direction: column;
}
.imgHolder {
  width: 100%;
  height: 50%;
  background-color: aquamarine;
  object-fit: cover;
  & img {
    width: 100%;
    height: 100%;
  }
}
.title {
  width: 100%;
  height: 15%;
  background-color: #f7eeff;
}
.content {
  height: 25%;
  width: 100%;
  background-color: red;
  font-size: small;
}
.date {
  width: 100%;
  height: 10%;
  background-color: blue;
  font-size: small;
}
